*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

:root {
  --gray: #afb3b6;
  --white: #fff;
  --bg-color: #020e18;
  /* --primary: #ffd400; */
  --primary: #17bd70;
  --error: #fb5151;
}

body {
  padding: 0;
  margin: 0;

  background-color: var(--bg-color);
  background-image: url("/images/lines.svg");
  background-position: center;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--gray);
  font-size: 16px;
}

p {
  line-height: 170%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  min-height: 100%;
}

@media (max-width: 768px) {
  .container {
    padding: 0 2rem;
    width: 100%;
    min-height: 90%;
  }
  .title {
    font-size: 30px !important;
  }
}

input {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 1rem 0;
  outline: none;
  color: var(--gray);
  letter-spacing: 1.2px;
  transition: 0.3s all ease-in-out;
}

.title {
  color: var(--white);
  font-size: 50px;
  margin-bottom: 3rem;
  font-family: "Fuzzy Bubbles", cursive;
}

.logo {
  width: 50px;
  height: 50px;
  vertical-align: middle;
}

.input-container {
  display: flex;
  overflow: hidden;
  margin: 2rem 0;
  margin-bottom: 5rem;
}

.input-content {
  display: flex;
  flex: 1;
  border-bottom: 2px solid var(--gray);
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
  opacity: 0.7;
}

.btn {
  border: none;
  color: var(--white);
  padding: 1rem 2rem;
  background-color: var(--primary);
  margin-left: 1rem;
  border-radius: 0.2rem;
  font-weight: 500;
  letter-spacing: 1.2px;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .input-container {
    flex-direction: column;
  }
  .btn {
    margin-left: 0;
    margin-top: 2rem;
  }
}

.tag {
  background: none;
  border: none;
  padding: 0;
  color: var(--primary);
  letter-spacing: 1.2px;
  font-size: 1rem;
  font-style: italic;
  transition: 0.2s opacity;
}

.tag:hover {
  opacity: 0.7;
}

.input-select {
  background-color: transparent;
  border: none;
  color: var(--gray);
  letter-spacing: 1.5px;
  outline: none;
}

option {
  background-color: transparent;
}

.form-container {
  position: relative;
}

.form-2 {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.title,
.subtitle,
.form-1,
.list,
.form-2 {
  opacity: 0;
}

.owner {
  color: var(--gray);
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
}

.owner:hover {
  color: var(--primary);
}

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 3rem 4rem;
}

.label {
  font-weight: 500;
  font-style: italic;
  color: var(--white);
  font-size: 20px;
}

.label,
.owner {
  opacity: 0;
}

@media (max-width: 768px) {
  .navbar {
    position: unset;
    padding: 2rem 2rem;
  }

  .owner {
    display: none;
  }
}

.toast {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  color: var(--error);
  padding: 3rem;
  font-weight: 300;
  margin: 0;
  letter-spacing: 1.2px;
  pointer-events: none;
}

.badge {
  background-color: var(--primary);
  border-radius: 20px;
  font-size: 0.7rem;
  padding: 0.3rem 1rem;
  margin-left: 1rem;
}

.list {
  display: flex;
  justify-content: space-between;
}

.list-item {
  width: 30%;
  display: inline-block;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .list {
    flex-direction: column;
  }

  .list-item {
    width: 100%;
    margin-bottom: 1rem;
  }
}
